<header class="p-3 border-b border-zinc-950/10 dark:border-white/10 ">
    <nav class="flex  lg:w-[70vw] mx-auto lg:flex-row lg:items-center justify-between">
      <div>
        <a href="#" class="flex items-center w-max p-2 px-4">
          <span class="text-xl">Logo</span>
        </a>
      </div>
  
      <div class="flex items-center gap-5">
  
        <div class="flex lg:flex-row items-center  gap-4">
          <a href="" class="flex p-1 px-4 dark:hover:bg-white/5 duration-300 rounded-md hover:bg-zinc-950/5 active:scale-90 justify-center text-zinc-600 dark:text-white/60 items-center lg:w-max">
            <span>Log in</span>
          </a>
          <a href="" class="p-1 px-4 dark:bg-white dark:text-zinc-800 lg:w-max rounded-md ring-2 ring-blue-500/10 hover:bg-blue-600 bg-blue-500 text-white dark:ring-white/10 dark:hover:bg-zinc-100 duration-300 active:scale-90 flex justify-center">Sign up </a>
  
          <button class="lg:hidden">
            <span>Me</span>
          </button>
        </div>
      </div>
    </nav>
  </header>